<!--Fix links on this page to include ids for home page like https://radiant-beyond-3672.herokuapp.com/#About<- -->

<!DOCTYPE html>
<html>
<head>
  <title>Lute's Autumn Kiss</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ultra">
  <link rel="stylesheet" type="text/css" href="../public/css/master.css">
</head>
<body>
  <!-- Set Up navbar as an aside in this page -->
  <nav class="bnav">
    <ul>
      <li><a href="home.html">Home</a></li>
      <li><a href="https://radiant-beyond-3672.herokuapp.com/#about">About Me</a></li>
      <li><a href="https://radiant-beyond-3672.herokuapp.com/#contact">Contact</a></li>
      <li><a href="projects.html">Projects</a></li>
      <li><a href="https://radiant-beyond-3672.herokuapp.com/blog.html">Blog</a></li>
      <li><a href="https://radiant-beyond-3672.herokuapp.com/#fun">Fun Facts</a></li>
    </ul>
  </nav>
  <article class="blog">
    <h1>Opening Thoughts...</h1>
    <time datetime="2015-11-1">10/30/2015</time>
    <blockquote>Every time you post something online, you have a choice. You can either make it something that adds to the happiness levels in the world - or you can make it something that takes away...There is enough sadness in the world already. You don't need to add to it.
    - Zoe Sugg
    </blockquote>
    <p>Welcome to the initial installment of my blog!  I will try to use this space as an accurate recording of my web development victories and fails.  Hopefully, I will be able to look back at these entries and realize just how far I was able to go in six short months.</p>
    <p>As I write this, it is Fall of 2015, and my favorite team, the New York Mets, are down 3-1 in the World Series.  Much like them, I sometimes feel like an underdog in life in general.  On the surface, I probably don't look like a typical web developer, gamer, or classically trained musician, but the cool thing about being an underdog is that you get to surprise the heck out of people pretty often.  I pray that my Mets are able to do that, but more importantly I hope that I can reach the goal that I have set for myself of finishing the Bootcamp and securing a job that I really enjoy.</p>
  </article>

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../public/scripts/portfolio.js"></script>
</body>
</html>
