<!DOCTYPE html>
<html>
<head>
  <title>Projects</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="Stylesheets/master.css">
</head>
<body>
  <!-- Set Up navbar as an aside in this page -->
  <div class="container"> 
    <div class="row-fluid">
      <div class="col-xs-12">
        <div>
          <h1>Projects</h1>
          <p>Github Repositories:</p>
        </div>
      </div>
    </div>

    <div class="row projects">
      <div class="list-group col-xs-12 col-md-3">  
      </div> 
    
      <div class="table-responsive col-xs-12 col-md-9">    
        <table class="table">
          <thead>
            <tr>
              <th>SHA</th>             
              <th>Author</th>
              <th>Commit Message</th>
              <th>Date</th>
            </tr>
          </thead>  
          <tbody>
            
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="scripts/portfolio.js"></script>
  <script type="text/javascript" src="scripts/projects.js"></script>
  <script type="text/javascript" src="scripts/projects2.js"></script>
</body>
</html>
