<html>
<head>
  <title>Showcase</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- <link rel="stylesheet" type="text/css" href="/css/master.css"> -->
  <link rel="stylesheet" type="text/css" href="/css/showcase.css">
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Stephanie Harris</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
         <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Home</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/showcase">Showcase</a></li>
              <li><a href="/projects">Github Repos</a></li>
            </ul>
          </li>
          <li><a href="/blog">Blog</a></li> 
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="col-xs-12">
        <div>
          <h1>Projects</h1>
          <p>Showcase</p>
        </div>
      </div>
    </div>
    <div class="row pets">
      <div class="col-xs-12 col-md-6">
        <a href="https://showusapet.herokuapp.com" target="_blank"><img class="img-responsive" src="/images/pet.png"></a>
      </div>
      <div class="col-xs-12 col-md-6">
        <section>
          <h2><a href="https://showusapet.herokuapp.com" target="_blank">Show Us a Pet </a><a href="https://github.com/Steph-harris/ourPetProject" target="_blank"><i class="fa fa-github"></i></a></h2>
          <h3>Project Overview</h3>
          <p>This is a shelter pet app that displays pets up for adoption close to a users zip code with images (from Flickr and specific shelters), pet description, special needs, wikipedia article about that particular breed (if one is provided) as well as care information. Users can also leave a review of their pet via Fireside chat. </p>
          <h3>Technologies Used</h3>
          <ul>
            <li>HTML/CSS/Bootstrap</li>
            <li>JAVASCRIPT and jQuery</li>
            <li>Ajax</li>
            <li>Firebase</li>
            <li>Select2</li>
          </ul>         
        </section>
      </div>
    </div>
    <div class="row rps">
      <div class="col-xs-12 col-md-6">
        <section>
          <h2><a href="https://stephs-rps.herokuapp.com" target="_blank">Rock, Paper, Scissors </a><a href="https://github.com/Steph-harris/RPSGame" target="_blank"><i class="fa fa-github"></i></a></h2>
          <h3>Project Overview</h3>
          <p>My version of the popular game featuring Justin Aguilar's CSS3 animations. Users can play any odd number of rounds from 3-9, and any round ending in a tie will be replayed so that there is always a winner. I used Firebase to build a realtime Leaderboard for scores.</p>           
          <h3>Technologies Used</h3>
          <ul>
            <li>HTML/Bootstrap</li>
            <li>CSS3 Animations</li>
            <li>Javascript</li>
            <li>jQuery</li>
            <li>Firebase Leaderboard</li>
          </ul>         
        </section>
      </div>
      <div class="col-xs-12 col-md-6">
        <a href="https://stephs-rps.herokuapp.com" target="_blank"><img class="img-responsive" src="/images/rps.png"></a>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/scripts/portfolio.js"></script>
</body>
</html>