body {
  background-color: #fefefe;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 22px
}

img.navIm.img-responsive {
  margin-bottom: 10px;
}
.socIcons {
  margin-bottom: 36%;
  text-align: center;
}
.socIcons img {
  width: 50px;
  height: 50px;
}
#navSocIcons{
  height: 50px;
  margin-bottom: 0%;
  text-align: center;
}
.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

/*h3 {
  font-style: italic;
}*/
.full {
  background-color: rgba(67,58,59,0.6);
  display: table-cell;
  vertical-align: middle;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 100px;
}
#leftCol {
  padding-right: 0;
}
#home {
  padding-left: 0;
  padding-right: 0;
  background-image: url("/images/Gorge.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center center;
  text-align: center;
  color: #F0F0F0;
}

#home h1 {
  font-size: 3.2em;
  text-align: center;
  padding-top: 10%;
  margin-bottom: 0;
}
@media only screen and (max-width: 320px) {
  #home h1  { font-size: 2.3em; }
}

#home p {
  font-size: 1.5em;
}
.headInfo {
  position: relative;
  top: 95px;
}

#about{
  padding: 7% 15% 7% 18%;
  color: #fff;
  background-color: #326379;
}
.tech {
  background-color: rgba(113, 62, 0, 0.8);
  padding-bottom: 8%
}
#skills{
  color: white;
  background-image: url("/images/mouse.png");
  /*background-size: cover;*/
  background-size: 100% 100%;
}
#skills h1, #projectIms h1 {
  text-align: center;
  margin-top: 8%;
}
ul{
  list-style-type: none;
}
#list-1>ul>li, #list-2>ul>li, #list-3>ul>li, #list-4>ul>li{
  height: 50px;
  line-height: 40px;
  margin-top: 30px;
  margin-left: 30px;
}
li>img{
  position: relative;
  top: 8px;
  height: 20px;
  width: 20px;
  margin-bottom: 20px;
}
.homeList {
  margin-top: 7px;
  display: inline-block;
}
.homeList > ul > li {
  font-size: 1.5em;
  padding-bottom: 6px;
  list-style: none;
}
.homeList > ul > li > a {
  background-color: #CFBCB6;
}

table {
  font-size: inherit;
}

.red {
  color:#f3843e;
}

ul.red  {
  padding-left: 0;
}

a {
  color: #CE6F2D;
  text-decoration: none;
}

a:visited {
  color:#2A2E53;
}
p > a:hover, p > a:visited {
  color:#FB9E34;
}
.bnav a:hover, .projects a:hover {
  color:#3383AD;
}
#projectIms{
  padding: 25px;
  text-align: center;
  color: #fff;
  background-color: #616161;
}
.modal-body{
  color: black;
}
.modal-body p{
  text-align: left;
}
.show-im {
  padding: 10px;
}

#contact {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
.contactPic {
padding-right: 0;
padding-left: 0;
}
#graySelfie{
  width: auto;
  margin-bottom: 0;
}
#contact p {
padding-top: 13px;
}
#contact form {
  padding-bottom: 8%;
}
#contactSocIcons {
  margin-bottom: 7px;
  padding-top: 5px;
}
.info {
  position: relative;
  padding-top: 15%;
  padding-bottom: 15%;
}
#projects {
  background-color: #808080;
}
#projectIms h1 {
  text-align: center;
  margin-top: 5%;
}
.fitRow{
  border-radius: 5px;
}
#fun {
  color: #46300C;
  background-image: url("/images/music-brown.jpg");
  background-position: 20% 100%;
  padding: 7% 12%;
}
.fun {
  padding-left: 0;
  padding-right: 0;
}

#fun h1 {
  margin-left: 20px;
}
#fun ul {
  padding-right: 20px;
  padding-left: 20px;
}
#extras{
  padding: 0 3%;
  background-color: #BFC0B8;
  color: #274D5D;
  text-align: right;
}
.projects .list-group{
  padding-right: 0;
}

.projects .table-responsive {
  padding-left: 5px;
}

.projects table {
  font-size: medium;
}
.navbar-collapse.collapse.in {
  display: block !important;
  background-color: #EBEBEB;
}

h1 {
  font-weight: 500;
}
