body {
  background: url("/images/greyzz.png");
}
.container-fluid {
  padding: 10px 15px;
}
.row {
  margin-bottom: 30px;
  border-top: 2px ridge black;
}
.row:nth-child(2), #blog .row{
  border-top: none;
}
a>i {
  color: #000;
}
a:hover, a>i:hover {
  color: #337ab7;
}
section h2>a:visited {
  background-color: #757373
}
ul {
  list-style-type: circle;
}
img.img-responsive {
  width: auto;
  padding-top: 20px;
}
/*Blog CSS*/
#blog {
  background-image: url("/images/linedpaper.png");
}
blockquote {
  border: 3px solid #eee;
}
/*Repo CSS*/
td>a:hover {
  color: #DE9E29;
}
}
